 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 body {
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 header {
    background-color: #000000;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1390px;
    border-radius: 40px;
    margin: 20px auto;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    animation: slide-in-bck-top .3s cubic-bezier(.25, .46, .45, .94) both
 }

 @keyframes slide-in-bck-top {
    0% {
       transform: translateZ(700px) translateY(-300px);
       opacity: 0
    }

    100% {
       transform: translateZ(0) translateY(0);
       opacity: 1
    }
 }

 .logo {
    max-width: 150px;
    margin-right: auto;
    z-index: 222;
 }

 .menu-icon {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
 }

 .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .menu {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
 }

 .menu__item {
    position: relative;
 }

 .menu__item a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 1.2rem;
    transition: color 0.3s ease;
    display: block;
    overflow: hidden;
 }

 .menu__item a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background: rgb(11, 255, 52);
    transform: translateX(-50%);
    transition: width 0.5s ease;
 }

 .menu__item a:hover::after {
    width: 100%;
 }

 #menu-toggle {
    display: none;
 }

 @media (max-width: 768px) {
    body {
       background-color: #000000;
       
    }

    header {
       background-color: rgb(0, 0, 0);
       margin: 0 auto;
      
       border-radius: 0%;
       
       
    }
    
    .menu-icon {
       display: block;
       color: rgb(255, 255, 255);
       position: relative;
       font-size: 2.5rem;

       z-index: 200;
       width: 100%;
       padding-inline: 15px;

    }

    .logo {
       display: none;
       z-index: 200;
    }

    .navbar {
       display: flex;
       
       position: fixed;
       top: 0;
       right: 0;
       width: 100%;
       height: 100vh;
       background: rgba(0, 0, 0, 0.9);    
       transform: translateX(-100%);
       transition: 1s ;
      cursor: pointer;
       
      
    }
    
    #menu-toggle:checked~.navbar {
       transform: translateX(0);
    }

    .menu {
       flex-direction: column;
       
       width: 50%;
       gap: 20px;
       padding: 0;
       margin: 0;
    }
  
    .menu__item a {
       font-size: 1.2rem;
       margin: 0;
       color: rgb(255, 255, 255);
       padding: 15px 30px;
       -webkit-animation:slide-in-elliptic-top-fwd .7s cubic-bezier(.25,.46,.45,.94) 1s both;animation:slide-in-elliptic-top-fwd .7s cubic-bezier(.25,.46,.45,.94) 1s both;
       transition: background 0.3s ease;
      position: relative;
       text-align: center;
    }
    @-webkit-keyframes slide-in-elliptic-top-fwd{0%{-webkit-transform:translateY(-600px) rotateX(-30deg) scale(0);transform:translateY(-600px) rotateX(-30deg) scale(0);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;opacity:0}100%{-webkit-transform:translateY(0) rotateX(0) scale(1);transform:translateY(0) rotateX(0) scale(1);-webkit-transform-origin:50% 1400px;transform-origin:50% 1400px;opacity:1}}@keyframes slide-in-elliptic-top-fwd{0%{-webkit-transform:translateY(-600px) rotateX(-30deg) scale(0);transform:translateY(-600px) rotateX(-30deg) scale(0);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;opacity:0}100%{-webkit-transform:translateY(0) rotateX(0) scale(1);transform:translateY(0) rotateX(0) scale(1);-webkit-transform-origin:50% 1400px;transform-origin:50% 1400px;opacity:1}}
    .menu__item::before{
      content: '';
      position: absolute;
      bottom: 0;
      background-color: rgb(243, 147, 4);
      height: 2px;
      width: 50%;
      right: 25%;
      box-shadow:  0px 0px 22px 1px rgba(248, 246, 135, 0.747);
    }
     
    .menu__item a::after{
      display: none;
    }
   }
  

 
    
  

 /* Carrousel para 5 html  */
 .slider-box {
    max-width: 1280px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 10px;
    -webkit-animation: scale-up-center .4s cubic-bezier(.55, .085, .68, .53) both;
   position: relative;
    animation: scale-up-center .4s cubic-bezier(.55, .085, .68, .53) both
 }
 @-webkit-keyframes scale-up-center {
    0% {
       -webkit-transform: scale(.5);
       transform: scale(.5)
    }

    100% {
       -webkit-transform: scale(1);
       transform: scale(1)
    }
 }

 @keyframes scale-up-center {
    0% {
       -webkit-transform: scale(.5);
       transform: scale(.5)
    }

    100% {
       -webkit-transform: scale(1);
       transform: scale(1)
    }
 }

 .slider-box ul {
    display: flex;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
    padding: 0;
 }

 .slider-box li {
    width: 100%;
    list-style: none;
 }

 .slider-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

 @keyframes slide {
    0% {
       margin-left: 0%;
    }

    20% {
       margin-left: 0%;
    }

    25% {
       margin-left: -100%;
    }

    45% {
       margin-left: -100%;
    }

    50% {
       margin-left: -200%;
    }

    70% {
       margin-left: -200%;
    }

    75% {
       margin-left: -300%;
    }

    100% {
       margin-left: -300%;
    }
 }

 @media (max-width: 768px) {
    .slider-box {
       width: 70%;

      
    }
 }

 @media (max-width: 320px) {
    .slider-box {
       width: 100%;
    }
 }
 
 
 video {
   position: relative;
   height: 100vh;  
   width: 100%; 
   object-fit: cover; 
 }
 
 .texto--intro-video {
   position: absolute;  
   top: 50%;  
   left: 50%;  
   transform: translate(-50%, -50%);  
   color: white;  
   
   padding: 1rem;  
   text-align: center;  
   width: 80%;
}
.texto--intro-video::before{
   content: '';
   position: absolute;
   bottom: 0;
   width: 50%;
   right: 0;
   transform: translateX(-50%);
   height: 3px;
   background-color: #d8910e;
   
   cursor: pointer;
}
.texto--intro-video:hover::before{
 transition: 0.3s;
 
 background-color: red;
  
}
 
  .videotext{
   padding: 5px;
   margin: 2px;
   font-size: 35px;
  }
  
  @media (max-width:768px ){
   video{
      height: 100%;
      position: relative;
   }
    .texto--intro-video{
    top: 220px;
    left: 50%;
    
       
    }
    .videotext{
      width: 100%;
      font-size: 17px;
       
     
       
    }
    @media (max-width: 430px){
      video{
         width: 100%;
      }
      .texto--intro-video{
         top: 190px;
         width: 50%;
        
      }
      .videotext{
         font-size: 11px;
         padding: 5px;
         background-color: transparent;
         letter-spacing: 2px;
      }
   }
  }

   
   
 .texto__cards {
    background: rgb(26, 25, 25);
    text-align: center;
 
    margin: 0 auto;
    color: white;
    margin-top: 5px;
    animation: scale-up-center .4s cubic-bezier(.39, .575, .565, 1.000) both
 }

 @keyframes scale-up-center {
    0% {
       transform: scale(.5)
    }

    100% {
       transform: scale(1)
    }
 }

 .title__texto {
    padding: 15px;
    position: relative;
 }

 .parrafo__texto {
    padding: 10px;
 }

 .title__texto::after {
    content: " ";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 25%;
    height: 3px;
    background: rgb(255, 145, 1);
    transform: translateX(-50%);
    transition: width 0.5s ease;
 }

 @media (max-width: 768px) {
    .texto__cards {
       background-color: rgb(248, 248, 248);
       width: 100%
    }
 }






 /* <!-- Info pago(envios) --> */
 .container-info2 {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 15px;

 }

 .group {
    display: flex;
    gap: 50px;
    padding-inline: 10px;
    text-align: center;
    background-color: #494949;
    border-radius: 15px;
    -webkit-animation: scale-in-ver-center .8s cubic-bezier(.25, .46, .45, .94) both;
    animation: scale-in-ver-center .8s cubic-bezier(.25, .46, .45, .94) both
 }

 @-webkit-keyframes scale-in-ver-center {
    0% {
       -webkit-transform: scaleY(0);
       transform: scaleY(0);
       opacity: 1
    }

    100% {
       -webkit-transform: scaleY(1);
       transform: scaleY(1);
       opacity: 1
    }
 }

 @keyframes scale-in-ver-center {
    0% {
       -webkit-transform: scaleY(0);
       transform: scaleY(0);
       opacity: 1
    }

    100% {
       -webkit-transform: scaleY(1);
       transform: scaleY(1);
       opacity: 1
    }
 }

 .item {
    padding: 25px;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 20px;
 }

 .item h3 {
    padding: 5px;
 }

 .item i {
    font-size: 40px;
    color: #ffffff;
 }

 .item p {
    padding: 5px;
 }

 .item:nth-child(2) {
    border-left: 1px solid rgb(104, 98, 98);
 }

 .item:nth-child(3) {
    cursor: pointer;
    border-left: 1px solid rgb(104, 98, 98);
 }

 @media (max-width: 768px) {
    .group {
       flex-direction: column;
       background-color: #d3ceca;
       width: 100%;
       border: 1px solid rgb(240, 237, 237);
       box-shadow: 0px 0px 20px 22px rgba(41, 41, 41, 0.14);
    }

.item{
   color: rgb(0, 0, 0);
}
.item i{
   color: #333;
}
    .item:nth-child(2) {
       border: none;
    }

    .item:nth-child(3) {
       border: none;
    }
 }

 /* FIN */
 /* <!-- contenedor principal --> */
 .contenedor__productos {
    display: flex;
    padding: 55px;
    width: 1280px;
    max-width: 100%;
    gap: 45px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #ffffff;
 }

 .productos__card::before {
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
 }

 .productos__card {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
    transition: .6s ease;
    overflow: hidden;

    border-radius: 5px;
    cursor: pointer;
    -webkit-animation: slide-in-blurred-top .9s cubic-bezier(.23, 1.000, .32, 1.000) both;
    animation: slide-in-blurred-top .9s cubic-bezier(.23, 1.000, .32, 1.000) both
 }

 @-webkit-keyframes slide-in-blurred-top {
    0% {
       -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(.2);
       transform: translateY(-1000px) scaleY(2.5) scaleX(.2);
       -webkit-transform-origin: 50% 0;
       transform-origin: 50% 0;
       -webkit-filter: blur(40px);
       filter: blur(40px);
       opacity: 0
    }

    100% {
       -webkit-transform: translateY(0) scaleY(1) scaleX(1);
       transform: translateY(0) scaleY(1) scaleX(1);
       -webkit-transform-origin: 50% 50%;
       transform-origin: 50% 50%;
       -webkit-filter: blur(0);
       filter: blur(0);
       opacity: 1
    }
 }

 @keyframes slide-in-blurred-top {
    0% {
       -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(.2);
       transform: translateY(-1000px) scaleY(2.5) scaleX(.2);
       -webkit-transform-origin: 50% 0;
       transform-origin: 50% 0;
       -webkit-filter: blur(40px);
       filter: blur(40px);
       opacity: 0
    }

    100% {
       -webkit-transform: translateY(0) scaleY(1) scaleX(1);
       transform: translateY(0) scaleY(1) scaleX(1);
       -webkit-transform-origin: 50% 50%;
       transform-origin: 50% 50%;
       -webkit-filter: blur(0);
       filter: blur(0);
       opacity: 1
    }
 }

 .productos__img {
    width: 100%;
    height: auto;
    object-fit: cover;
 }

 .producto__informacion {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: center;
    font-size: 20px;
 }

 .productos__card:hover::before {
    opacity: 1;
    z-index: 0;
    background-color: transparent;
 }

 @media (max-width: 768px) {
    .contenedor__productos {
       display: flex;
       padding: 20px;
       width: 100%;
       gap: 15px;
       margin: 0 auto;
    }

    .productos__card::before {
       display: none;
    }

    .productos__card {
       position: relative;
       display: flex;
       flex-wrap: wrap;
       flex-direction: column;
       color: white;
       overflow: hidden;
       transition: none;
    }

    .productos__card:hover {
       transform: none;
    }
 }

 @media (max-width: 320px){
   
 }

 /* Fin */

 /* Prod-destacado */
 .product-text {
    max-width: 1280px;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    padding: 20px;
    position: relative;
    animation: scale-up-center .4s cubic-bezier(.39, .575, .565, 1.000) both
 }

 @keyframes scale-up-center {
    0% {
       transform: scale(.5)
    }

    100% {
       transform: scale(1)
    }
 }

 .h3__tex {
    text-align: center;
    position: relative;

 }

 .product-text::after {
    content: " ";
    position: absolute;
    left: 50%;
    bottom: 10px;
    width: 30%;
    height: 3px;
    background: rgb(255, 145, 1);
    transform: translateX(-50%);
    transition: width 0.5s ease;

 }

 @media (max-width: 768px) {
    .product-text {
       background-color: rgb(248, 248, 248);
       align-items: center;
       margin: 20px;

    }
 }

 /* Fin */

 /* Card */
 .gallery {
    display: flex;
    justify-content: center;
 }

 .card-2 {
    height: 380px;
    margin: 40px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    color: inherit;
    -webkit-animation: puff-in-center .2s cubic-bezier(.47, 0.000, .745, .715) both;
    animation: puff-in-center .4s cubic-bezier(.47, 0.000, .745, .715) both
 }

 @-webkit-keyframes puff-in-center {
    0% {
       -webkit-transform: scale(2);
       transform: scale(2);
       -webkit-filter: blur(4px);
       filter: blur(4px);
       opacity: 0
    }

    100% {
       -webkit-transform: scale(1);
       transform: scale(1);
       -webkit-filter: blur(0);
       filter: blur(0);
       opacity: 1
    }
 }

 @keyframes puff-in-center {
    0% {
       -webkit-transform: scale(2);
       transform: scale(2);
       -webkit-filter: blur(4px);
       filter: blur(4px);
       opacity: 0
    }

    100% {
       -webkit-transform: scale(1);
       transform: scale(1);
       -webkit-filter: blur(0);
       filter: blur(0);
       opacity: 1
    }
 }

 .card-2 img {
    height: 400px;
    width: 100%;
    border-radius: 5px;
    transition: .5s;
 }

 .description-2 {
    height: 60px;
    width: 250px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 10px;
    color: #FFF;
    transition: .5s;
    background: transparent;
 }

 .description-2 h1 {
    margin: 10px;
    font-size: 30px;
 }

 .description-2 p {
    font-size: 14px;
    margin: 10px;
    visibility: hidden;
    opacity: 0;
 }

 .card-2:hover {
    cursor: pointer;
 }

 .card-2:hover .description-2 {
    height: 200px;
    width: 100%;
    bottom: -4px;
    background: black;
 }

 .card-2:hover p {
    opacity: 1;
    visibility: visible;
 }

 .card-2:hover img {
    transform: scale(1.1);
 }

 @media (max-width: 768px) {
    .gallery {
       flex-wrap: wrap;
       width: 100%;
      
    }
    .card-2:hover {
      display: none;
    }

 }

 @media (max-width: 320px) {
    .gallery {
       flex-wrap: wrap;
       width: 100%;
    }
   
    .card-2:hover img {
      display: none;
    }
 }

 /* Fin card */

 .contenedor-video {
    position: relative;
    background-image: url(../assets/slider/baner5.png);
    height: 60vh;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding: 15px;
    overflow: hidden;
    background-attachment: fixed;
    opacity: 0.8;
 }

 .contenedor-video::before {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #201f1f;
    opacity: 0.4;
    z-index: 1;
    position: absolute;
 }

 @media (max-width: 768px) {
    .contenedor-video {
     width: 100%;
     height: 20vh;
      
    }
 }

 @media (max-width: 320px) {
    .contenedor-video {
       display: none;
    }
 }

 /* Fin */
 /* Selecciones en grid - index */
 .container__productosgrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 100%;
    padding: 20px;
    justify-content: center;
    background-color: #f0f0f0;
    margin: 20px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);

 }

 .container__producto {
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    overflow: hidden;
    margin: 5px;
    cursor: pointer;
    -webkit-animation: slide-in-top .5s cubic-bezier(.25, .46, .45, .94) both;
    animation: slide-in-top .5s cubic-bezier(.25, .46, .45, .94) both
 }

 @-webkit-keyframes slide-in-top {
    0% {
       -webkit-transform: translateY(-1000px);
       transform: translateY(-1000px);
       opacity: 0
    }

    100% {
       -webkit-transform: translateY(0);
       transform: translateY(0);
       opacity: 1
    }
 }

 @keyframes slide-in-top {
    0% {
       -webkit-transform: translateY(-1000px);
       transform: translateY(-1000px);
       opacity: 0
    }

    100% {
       -webkit-transform: translateY(0);
       transform: translateY(0);
       opacity: 1
    }
 }

 .container__infogid {
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 5px;
    opacity: 0.9;
    color: rgb(255, 251, 251);
    z-index: 10;
 }

 .container__infogid::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #242323;
    opacity: 0.8;
    z-index: -1;
 }

 .img__producto {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    background-attachment: fixed;
 }

 .img__producto:hover {
    filter: contrast(130%);
    transform: scale(1.1);
 }

 @media (max-width: 768px) {
    .container__productosgrid {
       grid-template-columns: repeat(2, 1fr);
    }
 }

 @media (max-width: 320px) {
    .container__productosgrid {
       grid-template-columns: repeat(2, 155px);
    }
 }


 /* Footer  para todos los 5 html pages*/
 .footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
 }

 .container_f {
    width: 80%;
    margin: 0 auto;
 }

 .row {
    display: flex;
    flex-wrap: wrap;
 }

 .footer-col {
    width: 33.33%;
    padding: 0 15px;
 }

 .text_footer {
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
 }

 .footer_cont {
    list-style: none;
    padding: 0;
 }

 .footer__item {
    margin-bottom: 10px;
 }

 .footer__item a {
    text-decoration: none;
    color: #ccc;
    transition: color 0.3s ease;
 }

 .footer__item a:hover {
    color: #fff;
 }

 .social-links {
    font-size: 24px;
 }

 .social-links a {
    color: #ccc;
    margin-right: 10px;
    transition: color 0.3s ease;
 }

 .social-links a:hover {
    color: #fff;
 }

 @media screen and (max-width: 768px) {
    .footer-col {
       width: 50%;
       margin-bottom: 30px;
    }
 }

 /* Fin */
 /* Card de ventas mates.html */
 /* bootstrap */
 /* .carousel-item img {

    width: 100%;
    height: 800px;
    object-fit: cover;


 } */
 /* Titulo presentacion mates pages */
 .title__present {
    margin: 5px 5px;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 10px 10px;
    transition: background-color 0.3s ease;
 }

 /* Mates ventas  */
 .mates__container {
    display: grid;
    grid-template-columns: repeat(4, 390px);
    gap: 40px;
    padding: 10px;
    justify-content: center;
 }

 .mates__card {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid white;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.14);
    transition: transform 0.3s ease;
    margin: 0 auto;
 }

 .mates__card:hover {
    transform: translateY(-15px);
 }

 .imagen__mates {
    width: 100%;
    height: 70%;
    object-fit: cover;
 }

 .mates__info {
    padding: 15px;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .mate__h2 {
    font-size: 1rem;
    margin-bottom: 8px;
 }

 .mate__p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 12px;
 }

 .btn__mates {
    background-color: #536153;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 0.9rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
 }

 .btn__mates:hover {
    background-color: #45a049;
 }



 @media screen and (max-width: 1200px) {
    .mates__container {
       grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
 }

 @media screen and (max-width: 768px) {
    .mates__container {
       grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
 }

 /* Fin  */

 /* nosotros.html */
 .img__nosotros {
    background-image: url(../assets/nosotros/yerba-mate-taragui-rUMnY9cE1ac-unsplash\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: center 0%;
    background-size: cover;
    height: 100vh;
    padding: 10px;
    position: relative;
    display: flex;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
 }

 .img__nosotros::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
 }

 .contacto__texto {
    color: white;
    position: relative;
    font-size: 68px;
    padding: 15px;
    text-transform: capitalize;
    letter-spacing: 2px;
 }

 /* fin  */

 .info--nosotros {
    background-image: url(../assets/destacado/Copia\ de\ banner\ blog\ \(2\).webp);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 5px;
    padding: 5px;
 }

 .info__nst {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: absolute;
    right: 5%;
    padding: 5px;
    gap: 20px;
    bottom: 60%;
 }

 .info--h3 {
    padding: 10px;
    font-size: 25px;
 }

 .btn--nts {
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: rgb(224, 217, 207);
    cursor: pointer;
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.5);
 }

 .btn--nts:hover {
    background-color: #d3ceca;
    transition: 1s;
    transform: translateY(-5px);
 }

 /* Contacto  */
 .contactMates {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../assets/slider/bannerlogo.jpg);
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .containerContacto {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding: 20px;
    gap: 10px;
    width: 1000px;
    text-align: center;
 }

 .box-info {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 50px;
 }

 .text__info {

    flex-direction: column;
    gap: 25px;
    letter-spacing: 5px;
 }

 .data {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px;
 }

 .data__parraf {
    font-size: 1rem;
 }

 .data__parraf i {
    color: #bbb;
    margin-right: 10px;
    font-size: 25px;
 }

 form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;

 }

 .input-box {
    position: relative;
 }

 .input-box input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    outline: none;
    background: rgba(255 255 255 / .1);
    border: 3px solid transparent;
    letter-spacing: 1px;
    transition: .3s;
    color: #fff;
    border-radius: 20px;
    text-align: center;
 }

 .input-box textarea {
    width: 100%;
    height: 130px;
    padding: 10px;
    background: rgba(255 255 255 / .1);
    border: 3px solid transparent;
    letter-spacing: 1px;
    outline: none;
    transition: .3s;
    color: #fff;
    letter-spacing: 1.5px;
    border-radius: 6px;
    text-align: center;
 }

 .input-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: rgba(161, 147, 147, 0.546);
    transition: .3s;
 }

 .input-box input:focus~i {
    color: rgb(255, 255, 255);
 }

 .input-box input:focus,
 .input-box textarea:focus {
    border-bottom: 3px solid crimson;
    animation: shake .5s;
 }

 .input-box input::placeholder,
 .input-box textarea::placeholder {
    color: #a3a3a3;
 }

 .input-box input:focus::placeholder,
 .input-box textarea:focus::placeholder {
    color: transparent;
 }

 form button {
    background: rgb(177, 172, 172);
    color: #Fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    transition: .2s;
 }

 form button:hover {
    background: rgba(255, 255, 255, 0.2);
 }

 @keyframes shake {

    0%,
    100% {
       transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
       transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
       transform: translateX(10px);
    }
 }

 @media screen and (max-width:768px) {
    .containerContacto {
       width: 95%;
       display: flex;
       flex-direction: column;
       gap: 50px;
    }

    .box-info {
       gap: 15px;
    }

    .box-info h1 {
       font-size: 1.5rem;
    }
 }